---
layout: default
title: Kevin Liao
---

<div class="about">
  <div class="home">
    <div class="row">
      <div class="col-sm-7">
        <header class="about-header">
          <h1 class="home-title">{{ page.title }}</h1>
        </header>
        <p>
          <a href="mailto:kevliao@mit.edu">kevliao@mit.edu</a> |
          <a href="https://twitter.com/_kevinliao">twitter</a> |
          <a href="/vita/kevin_liao_cv.pdf">cv</a>
        </p>
        <p>
          I'm a Ph.D. student at MIT, where I'm a member of
          the <a href="https://internetpolicy.mit.edu/">Internet Policy Research
          Initiative</a> and the <a href="https://www.csail.mit.edu/">Computer
          Science &amp; Artificial Intelligence Laboratory</a>. My research
          focuses on tackling challenges in data governance through
          legal-technical co-design.
        </p>
      </div>
      <div class="col-sm-5">
        <img src="../images/id.jpg" alt="Pic."  class="circular-image"/>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <header class="post-header">
            <h1 class="post-title">Publications</h1>
          </header>
          {% assign sorted = site.publications | sort: 'weight' | reverse %}        
          {% for publication in sorted %}
          <p>
            {% if publication.link %}
            <a href="{{ publication.link }}">
              {{ publication.title }}
            </a>
            {% else %}
            {{ publication.title }}  
            {% endif %}
            <br>
            {{ publication.authors }}
            <br>
            {{ publication.published }}
          </p>        
          {% endfor %}
          <p>* = alphabetical authorship</p>        
      </li>
      </div>
    </div>  
  </div>
</div>
